<h2 style="text-align:center">Contact</h2>



<div class="center">



  <div class="row">




    <div class="column">

      <div class="card">

        <img src="https://tse3.mm.bing.net/th/id/OIP.OgxxvZWO5iudHmOYY1m47QHaHo?pid=ImgDet&rs=1" width="300" height="300"

          alt="" style="width:100%">

        <hr>

        <div class="container">

          <h2 style="text-align:center;">Sahana D</h2>

          <h6 class="title">Founder & Director of Brillio Groceries</h6>

          <p>Software Engineer at Brillio Bren Optimus</p>

          <p>Email : Sahana.D@BRILLIO.COM</p>

          <p>Contact Number : 9380424774</p>

          <p><button class="btn btn-warning">Contact</button></p>

        </div>

      </div>

    </div>

  </div>

</div>
