<div class="container" style="margin: auto;background-color:rosybrown;">
  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
    <div *ngFor="let product of category">
      <div class="card-deck mb-4">
    <div class="card h-100" style="width: 25rem;">
      <div class="card-body" routerLink="/subcategory/{{ product.catId }}">
        <img src="http://rjtmobile.com/grocery/images/{{product.catImage}}" alt="card image cap" class="card-img-top">
        <h5 class="card-title">{{product.catName}}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{product.slug}}</h6>
      </div>
    </div>
  </div>
  </div>
  </div>
  </div>
  </div>

