<div *ngFor="let product of products">
  <div class="card-deck mb-4">
    <div class="card h-100" style="width: 18rem;" >
      <img class="card-img-top" src="http://rjtmobile.com/grocery/images/{{product.image}}" alt="Card image cap">
      <div class="card-body" routerLink="/productdetail/{{product._id}}">
        <h4 class="card-title">{{product.productName}}</h4>
        <p class="card-text">{{product.description}}</p>
        <p class="card-text"><small class="text-muted">stock available :{{product.quantity}}</small></p>
      </div>
    </div>
  </div>
</div>
