<div class="row">
  <div class="col-lg-4">
    <div *ngFor="let sub of subcategory">
    <div class="card-deck mb-4">
      <div class="card h-100" width="18rem">
        <img class="card-img-top" src="http://rjtmobile.com/grocery/images/{{sub.subImage}}" alt="" >
        <div class="card-body" routerLink="/products/{{sub.subId}}">
          <h5 class="card-title">{{sub.subName}}</h5>
          <p class="card-text">There are a lot of products available under each the subCategory please go through it</p>
          <p class="card-text"><small class="text-muted">{{sub.subName}}</small></p>
        </div>
      </div>
    </div>
  </div>
</div>
  <div class="col-lg-8">
    <app-products></app-products>
  </div>

</div>
